@use '../abstracts' as *;

body {
  font-family: $ff-primary;
  font-size: 0.9375rem;
  line-height: 1.575rem;
  background-color: $clr-neutral-700;
  color: $clr-neutral-200;
  @include flex(column, center, center);
}

.attribution {
  font-size: .755rem;
  margin-block: 0.5rem;
  text-align: center;
  color: hsl(0, 0%, 100%);

}

.attribution a {
  // font-family: $ff-secondary;
  font-weight: 700;
  font-size: .875rem;

  color: $clr-primary-400;
  text-decoration: none;
  cursor: pointer;
}

.attribution a:hover,
.attribution a:focus {
  color: $clr-neutral-200;
  text-decoration: underline;
}

@media (min-width: 56.75rem) and (min-height: 43.125rem) {
  .attribution {
    position: fixed;
    bottom: 0;
  }
}